@font-face {
  font-family: salom;
  src: url(/fonts/Montserrat-Regular.ttf);
}
body {
  font-family: salom;
  background-color: $background;
  @include respons(tab-land) {
    background-color: #fff;
  }
}
html {
  font-size: 62.5%;
}
.container {
  display: block;
  margin: 0 auto;
  width: 80%;
  @include respons(tab-land) {
    width: 95%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input,
select {
  outline: none;
}
svg {
  width: 2rem;
  height: 2rem;
  transition: all 0.6s;
  &:hover {
    fill: $background;
  }
  @include respons(tab-land) {
    width: 1.5rem;
    height: 1.5rem;
  }
  @include respons(phone) {
    height: 1.2rem;
    width: 1.2rem;
  }
  @include respons(phone) {
    height: 1rem;
    width: 1rem;
  }
}
